.header-nav {
  padding-top: 10px;
}

.section-name {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  line-height: 19px;
  color: #000;
}

a {
  color: #000;
  color: #326891;
}

hr {
  color: #e2e2e2;
  border: 0.5px solid;
}

a:hover {
  text-decoration: none;
}

.login {
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  border-radius: 3px;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  cursor: pointer;
  padding: 11px 12px 8px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  position: fixed;
}

.right {
  width: 5%;
}

.left {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-between;
}

.nav-item-1 {
  width: 20%;
  cursor: pointer;
  text-align: center;
}

.nav-item-2 {
  width: 20%;
  cursor: pointer;
}

.section-name:hover {
  text-decoration: underline;
}

.middle {
  text-align: left;
  width: 22%;
}

.headline {
  font-style: italic;
  font-size: 40px;
  line-height: 48px;
  color: #121212;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
  padding: 15px;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  max-width: 95%;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #333;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.hero-image {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}

.share-icons {
  width: 50%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 2%;
  padding: 4.5px 9px 0 9px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #eee;
}

.icon:hover {
  background-color: white;
}

.hero-figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 27px;
}

.hero-caption {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #666;
  width: 70%;
}

.author {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #333;
  width: 50%;
  margin-bottom: 15px;
}

.name {
  text-decoration: underline;
  text-decoration-color: grey;
}

.article-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-body p {
  margin-bottom: 20px;
  width: 50%;
}

.bold {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.inflation-section {
  margin: 20px 0;
  width: 100%;
}

.inflation-section p {
  width: 100%;
  color: #888;
  font-size: 13px;
  line-height: 16px;
}

.inflation-section h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.inflation-image {
  margin-left: 5%;
}

.inflation-section footer {
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.inflation-section hr {
  width: 7%;
  margin-left: 0;
  height: 1.5px;
  background: black;
}

.inflation-section footer {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
}

.cosmos-image {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cosmos-caption {
  margin: 10px 0;
  width: 60%;
  color: #666;
  font-size: 15px;
  line-height: 20px;
}

.line-break {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hr-1 {
  margin-top: 10px;
  border-top: 2px solid #999;
  border-bottom: 1px solid #999;
  height: 1px;
  width: 80%;
}

.footer {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
  justify-content: center;
}

.footer a {
  text-decoration: none;
  color: #666;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-item {
  margin: 0 0.7%;
}
